menu "Unicode options"

config ZMK_UNICODE_TAP_MS
    int "Time to wait (in milliseconds) between the press and release of each key in the unicode sequence."
    default 5

config ZMK_UNICODE_WAIT_MS
    int "Time to wait (in milliseconds) between unicode tapping keys in the unicode sequence."
    default 0

#Unicode options
endmenu

DT_COMPAT_ZMK_BEHAVIOR_UNICODE := zmk,behavior-unicode

config ZMK_BEHAVIOR_UNICODE
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_UNICODE))

DT_COMPAT_ZMK_BEHAVIOR_UNICODE_INPUT_SYSTEM := zmk,behavior-unicode-input-system

config ZMK_BEHAVIOR_UNICODE_INPUT_SYSTEM
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_UNICODE_INPUT_SYSTEM))

DT_COMPAT_ZMK_BEHAVIOR_MASK_MODS := zmk,behavior-mask-mods

config ZMK_BEHAVIOR_MASK_MODS
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_MASK_MODS))
