#include <behaviors/unicode.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &uc 0x00E4 0x00E4 &kp LSHFT
                &uc UC_SET_LINUX &none
            >;
        };
    };
};
