#include <behaviors/unicode.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    behaviors {
        uc_ae: uc_ae {
            compatible = "zmk,behavior-unicode";
            #binding-cells = <0>;
            codepoint = "00E4";
            shifted-codepoint = "00C4";
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &uc_ae &kp LSHFT
                &uc_input UC_LIN &none
            >;
        };
    };
};
